.categories-list{
    padding: 2rem 3rem;
    color: #3f3f3f;
}
.categories-list li{
    padding: .8rem 0;
}

.carousel-img{width: 100%;}
.carousel{
 width: 80%;
}
.adverts{
    height: 100%;
    width: 18%;
}