.Home{
    overflow-x: hidden;
}

.categories-list{
    padding: 2rem 3rem;
    color: #3f3f3f;
}
.categories-list li{
    padding: .8rem 0;
}

.carousel-img{width: 100%;}
.carousel{width: 80%;}

.see-all{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .6rem;
    
}
[class^="product-"]{
    overflow-x: hidden;
} 
.product-wrapper{
    padding: 1rem;
    border-radius: var(--radius);
}
.product-offer{padding: 0 0 1rem 0;}
.product-offer,
.product-wrapper{
    margin: 0 0 1.7rem 0;  
    background-color: #fff;
}
.product-offer{margin-top: -1.7rem;}
.product-offer .header-text{
    background-color: var(--primary);
    color: #fff;
    margin: 0;
    padding: 1.2rem;
}
.header-text h5 {
    display: flex;
    flex-direction: row;
    gap: .8rem;
}
.products{
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: .5rem;
    color: #8a8a8a;
}

.products::-webkit-scrollbar{display: none;}
.products::-webkit-scrollbar-track{background-color: transparent;}
.products::-webkit-scrollbar-thumb{background-color: #00000021;border-radius: 20px;width:4px;height: 2px;}

.offers{
    padding: 1rem;
}
/* .white_arrow{stroke: #fff;} */
.see-all{cursor: pointer;}
 
.popular_swaps_wrapper{
    padding: 2rem 1rem;
    background-color: #fff;
}
.popular_swaps_wrapper .header-text p{
    color: #000;
}
.pop_swap_header{
    color: #2d2d2d; 
    font-family: firma-bold;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.profiles_wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .8rem;
    justify-content: space-between;
}
@media only screen and (min-width: 550px) {
    .products{
        padding: 1rem;
        overflow-x: auto;   
        justify-content: left;
        flex-wrap: nowrap;
        gap: 1.5rem;
        
    }
    /* .profiles_wrapper{justify-content: space-between;} */
}
@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1200px) {
    .profiles_wrapper{
        gap: 0 3rem;
        justify-content:space-evenly;
    }
    
}